<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plagiarism Report</title>
    <meta name="description" content="Plagiarism Report">
    <meta name="author" content="Sriram Sami (plagiarism-basic)">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1 style="text-align: center"> Plagiarism Report </h1>
    <h3 style="text-align: center"> Reports are sorted in decreasing order of level of plagiarism </h3>
    <!-- <script src="js/scripts.js"></script> -->
    {{#each this}}
    <hr>
    <h2 style="text-align: center"> Plagiarism report between <u> {{#if this.trusted_owner1}} trusted {{else}} untrusted {{/if}} {{this.owner_id1}} </u> and <u> untrusted {{this.owner_id2}} </u> </h2>


    <h3 style="text-align: center"> Test metric: {{#if this.equal_fragments}} Equality {{else}} Levenshtein {{/if}} </h3>

    {{#if this.equal_fragments}}
    <h4 style="text-align: center"> This table shows all the phrases that are identical across both sources </h4>
    {{else}}}
    <h4 style="text-align: center"> This table shows all the phrases that are similar enough, based on the Levenshtein distance </h4>
    {{/if}}
    
    <table border="1px solid black" align="center" table-layout="fixed">
        <thead>
            <tr>
                <td style="text-align: center"> <strong> {{this.owner_id1}} </strong> </td>
                <td style="text-align: center"> <strong> {{this.owner_id2}} </strong> </td>
                <!--
                {{#if this.equal_fragments}}
                  <td style="text-align: center"> <strong> {{this.owner_id1}} </strong> vs <strong> {{this.owner_id2}} </strong> </td>
                {{else}}

                {{/if}}
                -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%" valign="top"> 
                    {{#each this.text_display1}}
                        {{#if this.is_bold}}
                            <strong>
                        {{/if}}

                        {{this.text}}

                        {{#if this.is_bold}}
                            </strong>
                        {{/if}}
                    {{/each}}
                </td>
                <td style="width: 50%" valign="top">  
                        {{#each this.text_display2}}
                        {{#if this.is_bold}}
                            <strong>
                        {{/if}}

                        {{this.text}}

                        {{#if this.is_bold}}
                            </strong>
                        {{/if}}
                    {{/each}}
                </td>
            <tr>
            <!--
            {{#if this.equal_fragments}}
            {{#each this.matching_fragments}}
            <tr> <td> {{this.0}} </td> </tr>
            {{/each}}

            {{else}}
            {{#each this.matching_fragments}}
            <tr>
                <td> {{this.0}} </td>
                <td> {{this.1}} </td>
            <tr>
            {{/each}}

            {{/if}}
            -->
        </tbody>
    </table>
    {{/each}}
</body>

</html>